<mat-card>
  <mat-card-title> Nova Categoria </mat-card-title>
  <form action="#">
    <mat-card>
      <mat-card-title> Nova Categoria </mat-card-title>
      <form>
        <mat-form-field>
          <input
            matInput
            placeholder="Nome"
            name="nome"
            [(ngModel)]="categoria.nome"
          />
        </mat-form-field>
      </form>

      <button mat-raised-button color="primary" (click)="saveCategoria()">Salvar</button>
      <button mat-raised-button color="warn" (click)="cancel()">Cancelar</button>
    </mat-card>
  </form>
</mat-card>
